@page "/"
@using BlazorApp.Shared
@using DevExpress.Blazor
@inject HttpClient Http

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxButton Text="StateHasChanged" Click="@StateHasChanged" />

    <div class="container">
        @foreach (var forecast in forecasts)
        {
            <div class="row">
                <div class="col">
                    <TopLevelComponent Forecast="@forecast" />
                </div>
            </div>
        }
    </div>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    }
}